In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Reading the datasets
d=pd.read_csv('/home/c1/Documents/Machine_Learning/DATASETS/Fish[1].csv')
d.sample(10)

       Species  Weight  Length1  Length2  Length3   Height   Width
133       Pike   345.0     36.0     38.5     41.0   6.3960  3.9770
105      Perch   250.0     25.4     27.5     28.9   7.2828  4.5662
104      Perch   265.0     25.4     27.5     28.9   7.0516  4.3350
44       Roach   145.0     20.5     22.0     24.3   6.6339  3.5478
97       Perch   145.0     22.0     24.0     25.5   6.3750  3.8250
92       Perch   150.0     20.5     22.5     24.0   6.7920  3.6240
131       Pike   300.0     34.8     37.3     39.8   6.2884  4.0198
4        Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
60   Whitefish  1000.0     37.3     40.0     43.5  12.3540  6.5250
85       Perch   130.0     19.3     21.3     22.8   6.3840  3.5340

In [3]:
d.shape

(159, 7)

In [5]:

#null values in the dataset

In [6]:
#X=d.iloc[:,1:].values
#y=d.iloc[:,1].values
X=d[[col for col in d.columns if col != 'Species']]
X.head()

   Weight  Length1  Length2  Length3   Height   Width
0   242.0     23.2     25.4     30.0  11.5200  4.0200
1   290.0     24.0     26.3     31.2  12.4800  4.3056
2   340.0     23.9     26.5     31.1  12.3778  4.6961
3   363.0     26.3     29.0     33.5  12.7300  4.4555
4   430.0     26.5     29.0     34.0  12.4440  5.1340

In [7]:
y=d[[col for col in d.columns if col == 'Species']]
y.sample(5)

    Species
76    Perch
152   Smelt
73    Perch
132    Pike
46    Roach

In [8]:
#number of unique categories are there in a column
print( y.Species.unique().size)
print( y.Species.unique())

7
['Bream' 'Roach' 'Whitefish' 'Parkki' 'Perch' 'Pike' 'Smelt']

In [9]:
#number of time each one repeated
# a=y.Species.unique()
y['Species'].value_counts()
# for i in a:
#     print(y[i].value_counts())

Species
Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: count, dtype: int64